.mod {
  margin: .6em auto;
  padding: 2px;
}

.mod .bd {
  cursor: pointer;
  text-align: center;
  height: 99%;
}

#seleccion {
  background-color: rgba(250,50,50,0.5);
}

.marchingants2 {
  background: url(../imagenes/ants2.gif) repeat-y -6px -4px;
  padding: 0 2px;
  position: relative;
}

.marchingants2 .inner {
  background: url(../imagenes/ants2.gif) repeat-x 0 -6px;
  padding: 2px 0 0 0;
  height: 100%;
}

.marchingants2 .hd {
  background: url(../imagenes/ants2.gif) repeat-y 0 0;
  height: 100%;
  margin-bottom: 4px;
  position: absolute;
  right: 0;
  width: 2px;
}

.marchingants2 .ft {
  background: url(../imagenes/ants2.gif) repeat-x 0 0;
  height: 2px;
}

.marchingants2,
.marchingants2 .inner,
.marchingants2 .hd,
.marchingants2 .ft {
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.marchingants2 {
  -webkit-animation-name: march-up;
}

.marchingants2 .inner {
  -webkit-animation-name: march-right;
}

.marchingants2 .hd {
  -webkit-animation-name: march-down;
}

.marchingants2 .ft {
  -webkit-animation-name: march-left;
}

@-webkit-keyframes march-right {
  from {
	background-position-x: 0;
  }
  to {
	background-position-x: 8px;
  }
}

@-webkit-keyframes march-left {
  from {
	background-position-x: 8px;
  }
  to {
	background-position-x: 0;
  }
}

@-webkit-keyframes march-up {
  from {
	background-position-y: 8px;
  }
  to {
	background-position-y: 0;
  }
}

@-webkit-keyframes march-down {
  from {
	background-position-y: 0;
  }
  to {
	background-position-y: 8px;
  }
}